{% extends "app/base_site.html" %} {% block title %} Plain Page {% endblock title %} {% block stylesheets %} {{ block.super }} {% endblock stylesheets %} {% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Página inicial</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Informações</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-globe"></i>
                  </div>
                  <div class="count">{{count_alunos}}</div>

                  <h3>Total</h3>
                  <p>Total de alunos cadastrados.</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-sun-o"></i>
                  </div>
                  <div class="count">{{count_alunos_manha}}</div>

                  <h3>Manhã</h3>
                  <p>Alunos no turno da manhã.</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-flash"></i>
                  </div>
                  <div class="count">{{count_alunos_tarde}}</div>

                  <h3>Tarde</h3>
                  <p>Alunos no turno da tarde.</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-moon-o"></i>
                  </div>
                  <div class="count">{{count_alunos_noite}}</div>

                  <h3>Noite</h3>
                  <p>Aunos no turno da noite.</p>
                </div>
              </div>

              <!-- FIM DOS WIDGETS DOS TURNOS -->
              <!-- TABELA -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Últimos alunos <small>Últimos alunos cadastrados</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Nome</th>
                          <th>Telefone Celular</th>
                          <th>E-mail</th>
                          <th>Instituição</th>
                          <th>Ações</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for aluno in alunos %}
                      {% if aluno.is_active == True %}
                        <tr>
                          <th scope="row">{{aluno.id}}</th>
                          <td>{{aluno.nome}}</td>
                          <td>{{aluno.telefone_movel}}</td>
                          <td>{{aluno.email}}</td>
                          <td>{{aluno.inst_ensino_nome}}</td>
                          <td>
                            <a href="{% url 'alunos:aluno-detalhe' aluno.id %}" ><span class="fa fa-eye"></span></a> |
                            <a href="#"><span class="fa fa-edit"></span></a> |
                            <form action="{% url 'alunos:aluno-delete' aluno.id %}" method="post" style="float: right;">
                              {% csrf_token %}
                              <a type="submit" href="{% url 'alunos:aluno-delete' aluno.id %}"><i class="fa fa-trash"></i></a>
                            </form>
                          </td>
                        </tr>
                        {% endif %}
                      {% endfor %}
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
            <!-- fim da tabela -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block javascripts %} {{ block.super }}
<script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- jQuery Sparklines -->
<script src="/static/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- easy-pie-chart -->
<script src="/static/vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
{% endblock javascripts %}
