<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title"><i class="fa fa-bus"></i> <span>Transporte Universitário</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Bem-vindo,</span>
      <h2>{{user.first_name}} (<a href="{% url 'alunos:logout' %}">Sair</a>)</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>Menu</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'alunos:index' %}">Informações</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-users"></i> Alunos <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="#">Todo os alunos</a></li>
            <li><a href="form.html">Alunos Niterói</a></li>
            <li><a href="form_advanced.html">Alunos São Gonçalo</a></li>
            <li><a href="form_validation.html">Alunos Niterói - Manhã</a></li>
            <li><a href="form_wizards.html">Alunos Niterói - Tarde</a></li>
            <li><a href="form_upload.html">Alunos Niterói - Noite</a></li>
            <li><a href="form_buttons.html">Alunos São Gonçalo - Manhã</a></li>
            <li><a href="form_buttons.html">Alunos São Gonçalo - Tarde</a></li>
            <li><a href="form_buttons.html">Alunos São Gonçalo - Noite</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-wechat"></i> Chamados <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="#">Todo os chamados</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-plus-square-o"></i> Cadastros <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'alunos:novo-aluno' %}">Cadastrar aluno</a></li>
            <li><a href="{% url 'alunos:novo-chamado' %}">Abrir novo chamado</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-list-alt"></i> Frequências <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="tables.html">Tables</a></li>
            <li><a href="tables_dynamic.html">Table Dynamic</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
