{% extends "app/base_site.html" %}

{% block title %} Plain Page {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Alunos</h3>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Todos os alunos</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Lista <small>Todos os alunos que utilizam o serviço</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Nome</th>
                          <th>Telefone</th>
                          <th>E-mail</th>
                          <th>Instituição</th>
                          <th>Está ativo?</th>
                          <th>Ações</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for aluno in aluno_list %}
                        <tr>
                          <th scope="row">{{ aluno.cpf }}</th>
                          <td>{{ aluno.nome }}</td>
                          <td>{{ aluno.telefone_movel }}</td>
                          <td>{{ aluno.email }}</td>
                          <td>{{ aluno.inst_ensino_nome }}</td>
                          <td>{% if aluno.is_active == True %} <span class="fa fa-check"></span> {% else %} <span class="fa fa-times"></span> {% endif %}</td>
                          <td>
                            <a href="#"><span class="fa fa-eye"></span></a> |
                            <a href="#"><span class="fa fa-edit"></span></a> |
                            <a href="#"><span class="fa fa-trash"></span></a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}

